/* Återställer standardmarginaler/padding och använder border-box för att inkludera padding i elementets storlek */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */ /* Tungläst typsnitt */
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 100%;
}


/* Ställer in bakgrundsfärg, textfärg och textstil för hela sidan */
body {
  background-color: #969696;
  color: #ffffff;
  line-height: 1.4;
  /* font-size: 30px; */ /* detta skriver över standard fontsize, det vill vi inte. */
  /* text-align: left; */
  letter-spacing: 5px;
  /* word-spacing: 15px; */
  /* line-height: 1.2em; */
  /* text-shadow: 5px 5px 10px black; */
}

h1 {
  font-size: 2.8em;
  margin-bottom: 3.5rem;
}

h2 {
  font-size: 2em;
  margin-bottom: 2.5rem;
}

p {
  font-size: 1.25em;
  margin-bottom: 1.75rem;
}

header {
  background-color: #3b3b3b;;
  width: 100%;
  max-height: 300px;
}

/* Navigeringsmeny med mörk bakgrund och jämnt fördelade element */
.navigation {
  background-color: #3b3b3b;
  padding: 30px;
  font-size: 30px;
  font-weight: bold;
}

.navigation ul .nav-item {
  list-style-type: none;
  display: inline-block;
}

/* Navigeringslänkar */
.navigation .nav-item a {
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
}

/* Bakgrundsfärg vid hover på navigationslänkar */
.navigation .nav-item:hover a {
  background-color: #acacac40;
}

.two-col {
  display: flex;
  align-items: center;

  height: 100px;

}

/* Input-fält i en container med kolumnlayout och flytande positionering */
.input-container {
  display: flex;
  height: 100px;

  background: #ffffff00; /* Genomskinlig bakgrund */
}

.two-col h1 {
  width: 40%;
  margin-bottom: 0;
  align-self: center;
  flex-shrink: 0;
  padding: 2rem;
}

.input-container {
  align-items: center;
  align-self: flex-end;
  margin-left: auto;
  padding-right: 2rem;
}

/* Inputfält med röd text och svart ram */
.input-container input {
  font-size: 1.2em;
  padding: 1.2rem;
}

/* Tar bort understrykning på länkar och ändrar färg */
a {
  color: #f5f5dc;
  text-decoration: none;
}


/* Knapp med rosa kant, mörkröd bakgrund och roterad */
.input-container .button {
  background-color: darkred;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 1.2rem;
  cursor: pointer;
}

.button:hover {
  border: 1px solid black;
}

/* En behållare med mittjusterad text och en blå transparent bakgrund */
.container {
  width: 100%;
  /* margin-top: 4rem; */
  /* margin: auto; */
  /* border: 10px solid pink; */
  background-color: #969696;
  text-align: center;
}

/* Artikel med prickad orange linje och en radial gradient som bakgrund */
.article {
  width: 80%;
  margin: 4rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  /* margin-bottom: 50px; */
  /* padding-bottom: 50px; */
  /* background: radial-gradient(circle, black, transparent); */
  background-color: #585858;;
}

/* Bilderna placeras i en rad, centrerar dem horisontellt och vertikalt och lägger till ett mellanrum mellan bilderna */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Definierar storleken på bilderna och gör att de täcker det angivna utrymmet utan att bli förvrängda  */
.image-container img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}




/* En "fake ad" med blinkande bakgrund och fast position längst ner */
/* #fake-ad {
  position: fixed;
  bottom: 0;
  width: 40%;
  background: repeating-radial-gradient(circle, cyan, magenta 10%, yellow 20%);
  text-align: center;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
} */

/* Sektion med centrerad layout */
.top-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Text med en hover-effekt som drastiskt krymper storleken */
.btext {
  font-size: 18px;
  padding: 10px 15px;
  margin-top: 10px;
  font-weight: bold;
  transition: transform 0.5s ease-in-out, font-size 0.5s ease-in-out,
    padding 0.5s ease-in-out;
}

/* På hover minskas texten kraftigt, nästan osynlig */
.btext:hover {
  transform: scale(0.1);
  font-size: 1px;
  padding: 1px;
}

/* Bild som roterar mellan -45 och 45 grader */
.rotating-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: rotateLeftRight 2s infinite alternate ease-in-out;
}

/* Nyckelbildning för att rotera bilden åt vänster och höger */
/* @keyframes rotateLeftRight {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(45deg);
  }
} */
